

/* header and heroimage media query styling here
 */
    @media only screen and (max-width:992px) and (min-width:800px){
   .hero-image-inner-item img{
    margin-top:8rem;
    margin-left:-5rem !important;
    }
    .hero-image-inner-item>.item>.ogene{
    transform: scale(1.5) !important;
    z-index:2 !important;
    position:absolute;
    left:0 !important;
    top:3rem !important;

    }
    .hero-image-inner-item>.item>.logo{
    left:3rem !important;
    top:2rem;
    transform:scale(1.8) !important;
    background:black;
    z-index:-1 !important;
    max-height:14rem !important;
    max-width:14rem !important;
        
        }



    }
    @media only screen and (max-width:800px) and (min-width:600px){
    .hero-image-inner-item>.item> img{
     margin-top:10rem;
     margin-left:-4rem;
    }
    .hero-image-inner-item>.item>.ogene{
    transform: scale(1.5) !important;
    z-index:2 !important;
    position:absolute;
    left:5% !important;
    top:3rem !important;

    }
    .hero-image-inner-item>.item>.logo{
    left:3rem !important;
    top:2rem;
    transform:scale(1.5) !important;
    background:black;
    z-index:-1 !important;
    max-height:14rem !important;
    max-width:14rem !important;
    
    }
    .main-card>.hero-card-body p{
      max-width: 300px !important;
    }
   }  
  
   @media only screen and (max-width:600px) and (min-width:320px){
    .hero-image-inner-item>.item> img{
     margin-top:12rem;
     margin-left:-8rem;

    }
    .hero-image-inner-item>.item>.ogene{
    transform: scale(4.5) !important;
    z-index:2 !important;
    position:absolute;
    left:0 !important;
    top:3rem !important;

    }
    .hero-image-inner-item>.item>.logo{
    left:0 !important;
    top:2rem;
    transform:scale(1) !important;
    background:black;
    z-index:-1 !important;
    max-height:14rem !important;
    max-width:14rem !important;
    
    }
    
   }  
  


/*About us media query  starts here*/
.About{
    z-index:10;
    position:relative;
    box-sizing: border-box;
    padding: 0 5rem !important;
    @media(max-width:1000px){
        padding: 0 3rem !important;
    }
    @media(max-width:980px){
        padding: 0 1rem !important;
    }
    @media(max-width:875px){
.igbo-value,
.join,
.must,
.child,
.pencil{
display:none !important;
}
    }
   }  
   .reg-btn{
    background:#ccc !important;
    color: #40336B;
    font-weight: 600;
    max-width:300px !important;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1% 0 1% 2%;
   border:none !important;
   outline:none !important;
   & :hover{
    color: #40336B;
    border:none !important;
    box-shadow: none !important;
   } 
& :focus{
    outline:none !important;
    box-shadow: none !important;
    border:none !important
}
.close:focus, .close:hover {
    outline: none;
    cursor: pointer;
 }
  
    
}

.reg2-btn{
    
  padding: 1% 0 1% 2%;
   border:none !important;
   outline:none !important;
   & :hover{
    border:none !important;
    box-shadow: none !important;
   } 
& :focus{
    outline:none !important;
    box-shadow: none !important;
    border:none !important
}
.close:focus, .close:hover {
    outline: none;
    cursor: pointer;
 }
  
    
}
     
.culture-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.left-aside{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    padding-right:5%;
    padding-bottom:3%;
}
.right-aside{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

@media(max-width:786px){
.about-us{
display:flex;
flex-direction: column;
justify-content:center;
align-items:center;

;& :not(.envi-list){
padding:0 5%;
} 
;& .right-aside, .left-aside{
min-width:100% !important;
max-width: 100% !important;
}
;& .title{
    font-weight: 600;
    font-size: 1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right-aside {
    margin-top: 4rem !important;
  }

.envi-list{
  padding: 5% 1% !important;
  height:auto; 
  font-weight:600 !important ;
  font-size: 1.1rem !important;
}

.reg-btn{
    background:#40336B;
    color: #f2f2f2;    
    font-weight: 600;
    max-width:190px !important;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 4% 0;
    padding-right:1rem;
    margin-left: 9%;
    & .pen{position: absolute;
        margin-left:10rem !important}
}
.text>h5{
    min-width:100%;
    position:relative !important;
    & .thumbup{
        font-size: 4.5rem !important;
        color:lightslategray !important;
        position: absolute !important;
        top:-1.7rem !important;
        left: -1.3rem !important;
    }
   
}
.culture-title{
    font-weight: 700;
    font-size:1.3rem !important;
    min-width:100% !important;
   /*  position: absolute;  */
}


}

}/*What we Do  media query  starts here*/
.jumbo1{background:#fafafb;

}
